<?xml version="1.0"?>
<config>
   <modules>
      <Mgt_DeleteOrders>
         <version>1.0.5</version>
      </Mgt_DeleteOrders>
   </modules>
  <global>
        <models>
            <mgt_delete_orders>
                <class>Mgt_DeleteOrders_Model</class>
            </mgt_delete_orders>
        </models>
         <helpers>
            <mgt_delete_orders>
                <class>Mgt_DelteOrders_Helper</class>
            </mgt_delete_orders>
        </helpers>
    </global>
    <admin>
        <routers>
            <mgt_delete_orders>
                <use>admin</use>
                <args>
                    <module>Mgt_DeleteOrders</module>
                    <frontName>mgt_delete_orders</frontName>
                </args>
            </mgt_delete_orders>
        </routers>
    </admin>
    <adminhtml>
        <events>
            <adminhtml_block_html_before>
                <observers>
                    <mgt_delete_orders>
                        <class>mgt_delete_orders/observer</class>
                        <method>addOptionToSelect</method>
                    </mgt_delete_orders>
                </observers>
            </adminhtml_block_html_before>
            <sales_order_delete_after>
                <observers>
                    <mgt_delete_orders>
                      <class>mgt_delete_orders/observer</class>
                      <method>deleteOrderFromGrid</method>
                    </mgt_delete_orders>
                </observers>
            </sales_order_delete_after>
        </events>
    </adminhtml>
</config>
